/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

h1,
h2,
h3 {
  font-weight: normal;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

header {
  background: #e7e7db;
  text-align: center;
  padding: 14px 0 12px 0;
}

.dessin-monstre {
  border-bottom: 2px solid #df0000;
  border-top: 3px solid #df0000;
}

h2 {
  border-bottom: 1px solid #df0000;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #df0000;
  text-align: center;
  padding: 22px 75px;
  line-height: 42px;
}

h2 span {
  color: #172632;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #172632;
  text-align: center;
  padding: 26px 0 38px 0;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #172632;
  text-align: center;
  margin-top: 36px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #172632;
  text-align: center;
  margin-top: 12px;
}

.container {
  padding: 0 27px;
  margin-bottom: 14px;
}

.produit {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.image-produit {
  background-color: #df0000;
  padding: 25px 90px;
  margin: 30px 0 0 0;
}

.order {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.order-button {
  background: #df0000;
  border-radius: 8px;
  text-align: center;
  padding: 7px 12px 6px;
  margin: 46px 141px 60px;
  box-shadow: 0px 2px 4px #000000;
}

footer {
  background-image: url(../images/background.png);
  background-size: 100%;
  width: 414px;
  height: 318px;
}

footer h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 22px 0 19px;
  margin: 0;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #df0000;
  text-align: center;
  padding: 0 135px 0;
}

footer a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  display: block;
  margin: 56px 100px 55px 100px;
  text-align: center;
  text-decoration: none;
}
